.form__button-save {
  width: 100%;
  margin: 0;
  padding: 14px 0;
  color: #fff;
  font: 400 18px/22px 'Inter', sans-serif;
  background-color: #000;
  border-radius: 2px;
}
  
.form__button-save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 580px) {
  .form__button-save {
    font: 400 14px/17px 'Inter', sans-serif;
  }
}