.profile__button-edit {
  position: relative;

  grid-area: edit-button;

  margin: 37px 0 0 18px;

  width: 0;
  height: 0;
}

.profile__button-edit:before {
  position: absolute;

  top: 0;
  left: 0;

  width: 24px;
  height: 24px;

  background-image: url(../../../images/edit.svg);
  background-repeat: no-repeat;
  background-position: center;

  content: '';
}

.profile__button-edit:after {
  position: absolute;

  top: 0;
  left: 0;

  width: 24px;
  height: 24px;

  background-image: url(../../../images/rectangle-edit.svg);
  background-position: center;

  content: '';
}

.profile__button-edit:hover {
  opacity: 0.8;
}

.profile__button-edit:active {
  opacity: 0.5;
}