.card__button-like {
  align-self: center;
  margin: 2px 0 0;
  width: 22px;
  height: 19px;
  background: url(../../../images/icon-white-heart.svg) center no-repeat #fff;
}

.card__button-like:hover {
  opacity: .5;
}