.popup__grid-container {
  display: grid;
  grid-template-columns:1fr 430px 40px 1fr;
  grid-template-rows: 40px 330px;
  grid-template-areas: '. . button-close .'
                       '. popup . .';
  margin: calc((100vh - 370px) / 2) 0;
}

@media screen and (max-width: 580px) {
  .popup__grid-container {
    grid-template-columns:1fr 282px 1fr;
    grid-template-rows: 36px 322px;
    grid-template-areas: '. button-close .'
                       '. popup .';
    margin: calc((100vh - 358px) / 2) 0;
  }
}